<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @advertiser.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @advertiser.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @advertiser.phone %>
</p>

<p>
  <strong>Message:</strong>
  <%= @advertiser.message %>
</p>

<%= link_to 'Back', advertisers_path %>
