<div class="well">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag user.gravatar_url(size: 100) %>
    </div>
    <div class="col-md-8">
      <p>
      <strong>Username: </strong>
      <%= user.username %>
      </p>
      <p>
      <strong>Points: </strong>
      <%= user.points %>
      </p>
      <%if user_signed_in? && current_user.admin? %>
          <%unless user.admin?%>
            <%= link_to "Promote to Admin", adminpromote_path, method: :patch, id: user.id, class: "btn btn-primary" %>
          <%end%>
          <%if user.trailblazer?%>
            <%= link_to "Demote from Trailblazer", trailblazerdemote_path, method: :patch, id: user.id, class: "btn btn-primary" %>
          <% else %>
            <%= link_to "Promote to Trailblazer", trailblazerpromote_path, method: :patch, id: user.id, class: "btn btn-primary" %>
          <%end%>
          <%if current_user.owner? && user.admin?%>
            <%= link_to "Demote from Admin", admindemote_path, method: :patch, id: user.id, class: "btn btn-primary" %>
          <%end%>
      <% end %>
    </div>
  </div>
</div>
