<% content_for :title do %>
  User Profile
<% end %>
<div class="row">
  <div class="col-md-4">
      <%= image_tag @user.gravatar_url(size: 200) %>
  </div>
  <div class="col-md-4">
    <p>
    <strong>Username: </strong>
    <%= @user.username %>
    </p>
    <p>
    <strong>Name: </strong>
    <%= @user.firstname+" "+@user.lastname %>
    </p>
    <p>
    <strong>Country: </strong>
    <%= @user.country %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
    <% if @user.trailblazer %>
      Trailblazer
    <%else%>
      Trekker
    <%end%>
    </p>
    <p>
    <strong>City: </strong>
    <%= @user.city %>
    </p>
    <p>
    <strong>Province/State: </strong>
    <%= @user.province %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <strong>About</strong><br>
      <p>
      <%= @user.about %>
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <% if @links.nil? %>
        <%= link_to "Add Social Connections", new_social_path({id: @user.id}) %>
      <% else %>
        <% unless @links.facebook_link==nil || @links.facebook_link=="" %>
          <p>
          <strong>Facebook: </strong>
          <%= link_to extlink(@links.facebook_link) do %>
            <%= image_tag "facebook.png", width: "30px" %>
          <% end %>
          </p>
        <%end%>
        <% unless @links.linkedin_link==nil || @links.linkedin_link=="" %>
          <p>
          <strong>LinkedIn: </strong>
          <%= link_to extlink(@links.linkedin_link) do %>
            <%= image_tag "linkedin.png", width: "30px" %>
          <% end %>
          </p>
        <%end%>
        <% unless @links.youtube_link==nil || @links.youtube_link=="" %>
          <p>
          <strong>YouTube: </strong>
          <%= link_to extlink(@links.youtube_link) do %>
            <%= image_tag "Youtube.png", width: "30px" %>
          <% end %>
          </p>
        <%end%>
        <% unless @links.instagram_link==nil || @links.instagram_link=="" %>
          <p>
          <strong>Instagram: </strong>
          <%= link_to extlink(@links.youtube_link) do %>
            <%= image_tag "Instagram.png", width: "30px" %>
          <% end %>
          </p>
        <%end%>
        <% if user_signed_in? && current_user.id==@user.id %>
          <%= link_to "Edit Social Connections", edit_social_path(@links) %>
        <%end%>
      <% end %>
    </div>
    <div class="well">
      <strong>Trails Posted</strong><br>
      <% unless @trails==[] %>
        <% @trails.each do |t| %>
          <%= link_to t do %>
            <%=t.name%>
          <%end%>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
<%if @user.id==current_user.id%>
  <%=link_to "Edit Profile", edit_user_path(@user) %>
  <%=link_to "Edit Login", edit_user_registration_path %>
<%end%>
<%if current_user.admin?%>
  <!-- links for promtion-->
<%end%>
