<%= form_for(@revision) do |f| %>
  <% if @revision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@revision.errors.count, "error") %> prohibited this revision from being saved:</h2>

      <ul>
      <% @revision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :trail_id, value: @trail.id %>
  <div class="row">
    <div class="col-md-4">
      <h3>Trail Details</h3>
    </div>
    <div class="col-md-5">
      <h3>New Trail Details</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
      <strong>Trail Name: </strong>
      <%= @trail.name %>
      </p>
    </div>
    <div class="col-md-5 col-md-offset-3">
      <div class="field">
        <%= f.text_field :name, value: @trail.name %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
      <strong>Location: </strong>
      <%= @trail.location %>
      </p>
    </div>
    <div class="col-md-5 col-md-offset-3">
      <div class="field">
        <%= f.text_field :location, value: @trail.location %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
      <strong>Season: </strong>
      <%= @trail.season %>
      </p>
    </div>
    <div class="col-md-5 col-md-offset-3">
      <div class="form-group">
        <%= f.select :season, ["Winter","Spring","Summer","Fall"], value: @trail.season %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
      <strong>Type: </strong>
      <%= @trail.trailtype %>
      </p>
    </div>
    <div class="col-md-5 col-md-offset-3">
      <div class="field">
        <%= f.select :trailtype, ["Hiking","Kayaking/Canoeing","Adventure Kayaking"], value: @trail.trailtype %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
      <strong>Length: </strong>
        <%= @trail.length %>
      </p>
    </div>
    <div class="col-md-5i col-md-offset-5">
      <div class="field">
        <%= f.number_field :length, value: @trail.length %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
      <strong>GPS: </strong>
      lat: <%= @trail.latitude %>, long: <%= @trail.longitude %>
      </p>
    </div>
    <div class="col-md-5 col-md-offset-5">
      <div class="field">
        lat: <%= f.number_field :latitudei, value: @trail.latitude %>, long: <%= f.number_field :longitude, value: @trail.longitude %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
      <strong>Trail Directions/Description</strong>
      <%= @trail.traildirections %>  
      </p>
    </div>
    <div class="col-md-5">
      <div class="field">
        <%= f.text_area :traildirections, value: @trail.traildirections %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
