<h1>Listing revisions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Season</th>
      <th>Trailtype</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Traildirections</th>
      <th>Trail</th>
      <th>Posted by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @revisions.each do |revision| %>
      <tr>
        <td><%= revision.name %></td>
        <td><%= revision.location %></td>
        <td><%= revision.season %></td>
        <td><%= revision.trailtype %></td>
        <td><%= revision.latitude %></td>
        <td><%= revision.longitude %></td>
        <td><%= revision.traildirections %></td>
        <td><%= revision.trail %></td>
        <td><%= revision.user %></td>
        <td><%= link_to 'Show', revision %></td>
        <td><%= link_to 'Edit', edit_revision_path(revision) %></td>
        <td><%= link_to 'Destroy', revision, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Revision', new_revision_path %>
