<% content_for :title do %>
  Trail Revision Page
<% end %>
<p id="notice"><%= notice %></p>
<div class="well">
  <p>Please go through the revision. You may edit the trail then re-submit for review once finished.</p>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Trail Details</h3>
  </div>
  <div class="col-md-5 col-md-offset-3">
    <h3>Reason for Revision</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
    <strong>Trail Name: </strong>
    <%= @trail.name %>
    </p>
  </div>
  <div class="col-md-5 col-md-offset-3">
    <p>
    <%= @revision.name_review %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
    <strong>Location: </strong>
    <%= @trail.location %>
    </p>
  </div>
  <div class="col-md-5 col-md-offset-3">
    <p>
    <%= @revision.location_review %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
    <strong>Difficulty: </strong>
    <%for i in 0..5 %>
      <%if i==@rate[:avg_difficulty]%>
        <%break%>
      <%end%>
      <span class="glyphicon glyphicon-star"> </span> 
    <%end%>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
    <strong>Duration: </strong>
    <%= @rate[:avg_duration] %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
    <strong>Season: </strong>
    <%= @trail.season %>
    </p>
  </div>
  <div class="col-md-5 col-md-offset-3">
    <p>
    <%= @revision.season_review %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
    <strong>Type: </strong>
    <%= @trail.trailtype %>
    </p>
  </div>
  <div class="col-md-5 col-md-offset-3">
    <p>
    <%= @revision.trailtype_review %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
    <strong>GPS: </strong>
    lat: <%= @trail.latitude %>, long: <%= @trail.longitude %>
    </p>
  </div>
  <div class="col-md-5 col-md-offset-3">
    <p>
    <%= @revision.gps_review %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
    <strong>Trail Directions/Description</strong>
    </p>
  </div>
  <div class="col-md-5 col-md-offset-3">
    <%= @revision.traildirections_review %>
  </div>
</div>
<p>
<%= @trail.traildirections %>  
</p>
<%= link_to 'Edit Trail', edit_trail_path(@trail), class: "btn btn-primary" %>
<!-- Dispute link-->
