<div class="well">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag t.images.load.first, width: 100 %>
    </div>
    <div class="col-md-6">
      <p>
      <strong>Trail Name: </strong>
      <%= t.name %>
      </p>
      <p>
      <strong>Trail Location: </strong>
      <%= t.location %>
      </p>
      <p>
      <strong>Trail Difficulty: </strong>
      <%= t.avgdifficulty %>
      </p>
    </div>
    <div class="col-md-3">
      <%= image_tag t.images.load.last, width: 100 %>
    </div>
  </div>
</div>
