<h1>Listing revisiondiputes</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Revisionreview</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @revisiondiputes.each do |revisiondipute| %>
      <tr>
        <td><%= revisiondipute.comment %></td>
        <td><%= revisiondipute.revisionreview %></td>
        <td><%= link_to 'Show', revisiondipute %></td>
        <td><%= link_to 'Edit', edit_revisiondipute_path(revisiondipute) %></td>
        <td><%= link_to 'Destroy', revisiondipute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Revisiondipute', new_revisiondipute_path %>
