<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @revisiondipute.comment %>
</p>

<p>
  <strong>Revisionreview:</strong>
  <%= @revisiondipute.revisionreview %>
</p>

<%= link_to 'Edit', edit_revisiondipute_path(@revisiondipute) %> |
<%= link_to 'Back', revisiondiputes_path %>
