<%= form_for(@revisionreview) do |f| %>
  <% if @revisionreview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@revisionreview.errors.count, "error") %> prohibited this revisionreview from being saved:</h2>

      <ul>
      <% @revisionreview.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :revision_id, value: @revision.id %>
  <div class="row">
    <div class="col-md-3">
      <h3>Old Trail Details</h3>
    </div>
    <div class="col-md-3">
      <h3>New Trail Details</h3>
    </div>
    <div class="col-md-5">
      <h3>Reason</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p>
      <strong>Trail Name: </strong>
      <%= @trail.name %>
      </p>
    </div>
    <div class="col-md-3">
      <p>
      <%= @revision.name %>
      </p>
    </div>
    <div class="col-md-5">
      <div class="field">
        <%= f.text_area :name_review, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p>
      <strong>Location: </strong>
      <%= @trail.location %>
      </p>
    </div>
    <div class="col-md-3">
      <p>
      <%= @revision.location %>
      </p>
    </div>
    <div class="col-md-5">
      <div class="field">
        <%= f.text_area :location_review, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p>
      <strong>Season: </strong>
      <%= @trail.season %>
      </p>
    </div>
    <div class="col-md-3">
      <p>
      <%= @revision.season %>
      </p>
    </div>
    <div class="col-md-5">
      <div class="field">
        <%= f.text_area :season_review, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p>
      <strong>Type: </strong>
      <%= @trail.trailtype %>
      </p>
    </div>
    <div class="col-md-3">
      <p>
      <%= @revision.trailtype %>
      </p>
    </div>
    <div class="col-md-5">
      <div class="field">
        <%= f.text_area :trailtype_review, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p>
      <strong>Length: </strong>
      <%= @trail.length %>
      </p>
    </div>
    <div class="col-md-3">
      <p>
      <%= @revision.length %>
      </p>
    </div>
    <div class="col-md-5">
      <div class="field">
        <%= f.text_area :length_review, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p>
      <strong>GPS: </strong>
      lat: <%= @trail.latitude %>, long: <%= @trail.longitude %>
      </p>
    </div>
    <div class="col-md-3">
      <p>
      lat: <%= @revision.latitude %>, long: <%= @revision.longitude %>
      </p>
    </div>
    <div class="col-md-5">
      <div class="field">
        <%= f.text_area :gps_review, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p>
      <strong>Trail Directions/Description</strong>
      <%= @trail.traildirections %>  
      </p>
    </div>
    <div class="col-md-3">
      <p>
      <%= @revision.traildirections %>  
      </p>
    </div>
    <div class="col-md-5">
      <div class="field">
        <%= f.text_area :traildirection_review, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.label :finalcomments %><br>
    <%= f.text_area :finalcomments, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
