<%= form_for(@trail) do |f| %>
  <% if @trail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trail.errors.count, "error") %> prohibited this trail from being saved:</h2>

      <ul>
      <% @trail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control "%>
  </div>
  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :length %><br>
    <%= f.text_field :length, class: "form-control" %>
  </div>

  <div id="rating">  
    <%= render :partial => "ratingsform", :locals => {f: f} %>
  </div>
  <div class="form-group">
    <%= f.label :season %><br>
    <%= f.select :season, ["Winter","Spring","Summer","Fall"], class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :trailtype %><br>
    <%= f.select :trailtype, ["Hiking","Kayaking/Canoeing","Adventure Kayaking"], class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :length %><br>
    <%= f.number_field :length, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude, class: "form-control" %>
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :traildirections %><br>
    <%= f.text_area :traildirections, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
