<% content_for :title do %>
  Trail List Page
<% end %>
<% if @trails.count==0 %>
  <p> No Trails found </p>
<%else%>
  <%@trails.each do |trail| %>
    <div class="row well">
      <div class="col-md-9">
        <%= link_to trail do %>
          <%= render partial: "shared/listtrails", locals: {t: trail} %>
        <%end%>
      </div>
      <div class="col-md-3">
        <% if user_signed_in? && current_user.admin? %>
          <%= link_to "Toggle Trail View to Guests: #{trail.viewbyguest}", controller: "actions", action:"toggle_trail_viewablebyguest", trail_id: trail.id, path: "trailindex", class: "btn btn-primary" %>
          <%= link_to "Delete Trail", trail, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <%end%>
<%end%>
<% if user_signed_in? %> 
  <%= link_to "Post New Trail", new_trail_path %>
<%end%>
