<h1>Listing trails</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Season</th>
      <th>Type</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Traildirections</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trails.each do |trail| %>
      <tr>
        <td><%= trail.name unless trail.name.blank? %></td>
        <td><%= trail.location %></td>
        <td><%= trail.season %></td>
        <td><%= trail.trailtype %></td>
        <td><%= trail.latitude %></td>
        <td><%= trail.longitude %></td>
        <td><%= trail.traildirections %></td>
        <td><%= link_to 'Show', trail %></td>
        <% if user_signed_in? %>
          <% if current_user.id == trail.user_id %>
            <td><%= link_to 'Edit', edit_trail_path(trail) %> </td>
          <% end %>
          <% if current_user.admin? || current_user.id == trail.user_id %>
            <td><%= link_to 'Destroy', trail,  method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trail', new_trail_path %>
