<% content_for :title do %>
  Trail Page
<% end %>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6">
    <div id="trail-info" class="well">
      <p>
      <strong>Trail Name: </strong>
      <%= @trail.name %>
      </p>
      <p>
      <strong>Location: </strong>
      <%= @trail.location %>
      </p>
      <p>
      <strong>Difficulty: </strong>
      <%= @rate[:avg_difficulty] %>
      </p>
      <p>
      <strong>Duration: </strong>
      <%= @rate[:avg_duration] %>
      </p>
      <p>
      <strong>Season: </strong>
      <%= @trail.season %>
      </p>
      <p>
      <strong>Type: </strong>
      <%= @trail.trailtype %>
      </p>
      <p>
      <strong>GPS: </strong>
      lat: <%= @trail.latitude %>, long: <%= @trail.longitude %>
      </p>
    </div>
    <div id="trail-ratng" class="well">
      <% if @rating.nil? %>
        <%= link_to "Make a Rating", controller: "ratings", action: "new", id: @trail.id %>
      <%else%>
        <strong>Your Rating:</strong><br>
        <p>
        <strong>Difficulty: </strong>
        <%= @rating.difficulty %>
        </p>
        <p>
        <strong>Duration: </strong>
        <%= @rating.durationinsec %>
        </p>
        <% if @rating.favourite %>
          <p>
          <strong>Favourite: </strong>
          <span class="glyphicon glyphicon-thumbs-up"></span>
          </p>
        <%end%>
      <%end%>
    </div>
    <div id="trail-description" class="well">
      <strong>Trail Descriptoins:</strong><br>
      <p>
        <%= @trail.traildirections %>
      </p>
    </div>
    <div id="trail-comments" class="well">
      <strong>Comments</strong><br>
      <% if @comments.count==0 %>
        <p>No comments submitted</p>
      <% else %>
        <%@comments.each do |comment|%>
          <p>
          <%= comment.message %>
          <br>
          <strong>posted by: </strong>
          <%= comment.user_id%>
          <strong> posted at: </strong>
          <%= comment.created_at%>
          </p>
          <br>
        <%end%>
      <% end %>
      <%= link_to "Make a Comment", controller: "comments", action: "new", id: @trail.id %>
    </div>
  </div>
  <div class="col-md-6">
    <p>
      <strong>Trail submitted by:</strong>
      <%= @trail.user.username %>
    </p>
    <div id="trail-video" class="well">
      <%= render partial: "video", locals: {t: @trail} %>
    </div>
    <div id="trail-photos" class= "well">
      <%= render partial: "photo", locals: {t: @trail} %>
    </div>
    <div id="trail-updates" class="well">
      <strong>Trail Conditions</strong><br>
      <%if @updates.count==0 %>
        <p>No posts about the condition of the trail</p>
      <% else %>
        <%@updates.each do |update|%>
          <p>
          <%= update.message %>
          <br>
          <strong>posted by: </strong>
          <%= update.user_id%>
          <strong> posted at: </strong>
          <%= update.created_at %>
          </p>
          <br>
        <%end%>
      <% end %>
      <%= link_to "Make a Update on the trail conditions", controller: "trailupdates", action: "new", id: @trail.id %>
    </div>
    <div id="trail-map" class="well">
      <%= render partial: "map", locals: {lat: @trail.latitude, long: @trail.longitude} %>
    </div>
  </div>
</div>
<% if @trail.status=="Accepted" %>
  <%= link_to "Make a Revision on this trail", controller: "revisions", action: "new", trail_id: @trail.id %>
<% elsif @trail.status=="To be reviewed" && current_user.trailblazer? %>
  <%= link_to "Write a Review on this trail", controller: "reviews", action: "new", trail_id: @trail.id %>
<% elsif @trail.status=="Under review" && @trail.user_id==current_user.id %>
  <%= link_to "View review", controller: "reviews", action: "index",trail_id: @trail.id %>
<% elsif @trail.status=="Under revision" && @trail.user_id==current_user.id %>
  <%= link_to "View revision", controller: "revisions", action: "index",trail_id: @trail.id %>
<% end %>
