<%= form_for(@revisiondispute) do |f| %>
  <% if @revisiondispute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@revisiondispute.errors.count, "error") %> prohibited this revisiondipute from being saved:</h2>

      <ul>
      <% @revisiondispute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :revisionreview_id, value: @id %>

  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
