<p>
<%= @greeting %>, <%= @contact.firstname %> <%= @contact.lastname %>
</p>
<p>
<%= @message.content %>
</p>
<p>
From: <%= @admin.firstname %> <%= @admin.lastname %>
</p>
<p>
Email: <%= @admin.email %>
</p>
