<h1>Listing reviewdiputes</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviewdiputes.each do |reviewdipute| %>
      <tr>
        <td><%= reviewdipute.comment %></td>
        <td><%= reviewdipute.review %></td>
        <td><%= link_to 'Show', reviewdipute %></td>
        <td><%= link_to 'Edit', edit_reviewdipute_path(reviewdipute) %></td>
        <td><%= link_to 'Destroy', reviewdipute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reviewdipute', new_reviewdipute_path %>
