<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @reviewdipute.comment %>
</p>

<p>
  <strong>Review:</strong>
  <%= @reviewdipute.review %>
</p>

<%= link_to 'Edit', edit_reviewdipute_path(@reviewdipute) %> |
<%= link_to 'Back', reviewdiputes_path %>
