<% content_for :title do %>
  Trails Review/Revision/Dispute List Page
<% end %>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul id="TRlist" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#for-review" aria-controls="for-review" role="tab" data-toggle="tab">Trails for Review</a></li>
    <li role="presentation"><a href="#revisions" aria-controls="revisions" role="tab" data-toggle="tab">Trail Revisions</a></li>
    <li role="presentation"><a href="#disputed" aria-controls="disputed" role="tab" data-toggle="tab">Disputes</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="for-review">
      <% if @review.count==0 %>
        <p> No Trails need reviewing </p>
      <%else%>
        <%@review.each do |trail| %>
          <%unless current_user.id==trail.user_id%>
            <%= link_to trail do %>
              <%= render partial: "shared/listtrails", locals: {t: trail} %>
            <%end%>
          <%end%>
        <%end%>
      <%end%>
    </div>
    <div role="tabpanel" class="tab-pane" id="revisions">
      <% if @revision.count==0 %>
        <p> No Trails Under Revision </p>
      <%else%>
        <%@revision.each do |revision| %>
          <%unless current_user.id==revision.user_id%>
            <%= link_to revision do %>
              <%= render partial: "shared/listrevisions", locals: {r: revision} %>
            <%end%>
          <%end%>
        <%end%>
      <%end%>
    </div>
    
    <div role="tabpanel" class="tab-pane" id="disputed">
      <% if @reviewDispute.count==0 %>
        <p> No Trails Under Dispute </p>
      <%else%>
        <%@reviewDispute.each do |dispute| %>
          <%unless current_user.id==dispute.review.trail.user_id || current_user.id==dispute.review.user_id %>
            <%= link_to dispute do %>
              <%= render partial: "shared/listreviewdisputes", locals: {d: dispute} %>
            <%end%>
          <%end%>
        <%end%>
      <%end%>
      <% if @revisionDispute.count==0 %>
        <p> No Revisions Under Dispute </p>
      <%else%>
        <%@revisionDispute.each do |dispute| %>
          <%unless current_user.id==dispute.revisionreview.revision.user_id || current_user.id==dispute.revisionreview.user_id %>
            <%= link_to dispute do %>
              <%= render partial: "shared/listrevisiondisputes", locals: {d: dispute} %>
            <%end%>
          <%end%>
        <%end%>
      <%end%>
    </div>
  </div>
</div>


