<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :trail_id, value: @trail.id %>
  <div class="row">
    <div class="col-md-4">
      <h3>Trail Details</h3>
    </div>
    <div class="col-md-3 text-center">
      <h3>Mark for Incorrect</h3>
    </div>
    <div class="col-md-5">
      <h3>Reason</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
      <strong>Trail Name: </strong>
      <%= @trail.name %>
      </p>
    </div>
    <div class="col-md-3">
      <div class="field text-center">
        <%= check_box_tag :check_name %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="field">
        <%= f.text_area :name_review, disabled: 'disabled', class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
      <strong>Location: </strong>
      <%= @trail.location %>
      </p>
    </div>
    <div class="col-md-3">
      <div class="field text-center">
        <%= check_box_tag :check_location %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="field">
        <%= f.text_area :location_review, disabled: 'disabled', class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
      <strong>Difficulty: </strong>
      <%for i in 0..5 %>
        <%if i==@trail.avgdifficulty%>
          <%break%>
        <%end%>
        <span class="glyphicon glyphicon-star"> </span> 
      <%end%>
      </p>
    </div>
    <div class="col-md-3">
      <div class="field text-center">
        <%= check_box_tag :check_difficulty %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="field">
        <%= f.text_area :rating_difficulty_review, disabled: 'disabled', class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
      <strong>Duration: </strong>
      <%= @trail.avgduration %>
      </p>
    </div>
    <div class="col-md-3">
      <div class="field text-center">
        <%= check_box_tag :check_duration %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="field">
        <%= f.text_area :rating_duration_review, disabled: 'disabled', class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
      <strong>Season: </strong>
      <%= @trail.season %>
      </p>
    </div>
    <div class="col-md-3">
      <div class="field text-center">
        <%= check_box_tag :check_season %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="field">
        <%= f.text_area :season_review, disabled: 'disabled', class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
      <strong>Type: </strong>
      <%= @trail.trailtype %>
      </p>
    </div>
    <div class="col-md-3">
      <div class="field text-center">
        <%= check_box_tag :check_type %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="field">
        <%= f.text_area :trailtype_review, disabled: 'disabled', class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
      <strong>Length: </strong>
      <%= @trail.length %>
      </p>
    </div>
    <div class="col-md-3">
      <div class="field text-center">
        <%= check_box_tag :check_length %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="field">
        <%= f.text_area :length_review, disabled: 'disabled', class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
      <strong>GPS: </strong>
      lat: <%= @trail.latitude %>, long: <%= @trail.longitude %>
      </p>
    </div>
    <div class="col-md-3">
      <div class="field text-center">
        <%= check_box_tag :check_gps %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="field">
        <%= f.text_area :gps_review, disabled: 'disabled', class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
      <strong>Photos: </strong>
      <div class="row">
        <% @images.files.each do |image| %>
          <div class="col-md-3">
            <%= link_to image.cdn_url do %>
              <%= image_tag image.cdn_url, width: 100 %>
            <%end%>
          </div>
        <%end%>
      </div>
      </p>
    </div>
    <div class="col-md-3">
      <div class="field text-center">
        <%= check_box_tag :check_photos %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="field">
        <%= f.text_area :photos_review, disabled: 'disabled', class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>
      <strong>Trail Directions/Description</strong>
      </p>
    </div>
    <div class="col-md-3">
      <div class="field text-center">
        <%= check_box_tag :check_directions %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="field">
        <%= f.text_area :traildirections_review, disabled: 'disabled', class: "form-control" %>
      </div>
    </div>
  </div>
  <%= @trail.traildirections %>  
  <div class="field">
    <%= f.label :finalcomments %><br>
    <%= f.text_area :finalcomments, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
