<p id="notice"><%= notice %></p>

<p>
  <strong>Trail:</strong>
  <%= @resolvedreviewdispute.trail %>
</p>

<p>
  <strong>Review:</strong>
  <%= @resolvedreviewdispute.review_id %>
</p>

<p>
  <strong>Name review:</strong>
  <%= @resolvedreviewdispute.name_review %>
</p>

<p>
  <strong>Location review:</strong>
  <%= @resolvedreviewdispute.location_review %>
</p>

<p>
  <strong>Rating difficulty review:</strong>
  <%= @resolvedreviewdispute.rating_difficulty_review %>
</p>

<p>
  <strong>Rating duration review:</strong>
  <%= @resolvedreviewdispute.rating_duration_review %>
</p>

<p>
  <strong>Season review:</strong>
  <%= @resolvedreviewdispute.season_review %>
</p>

<p>
  <strong>Trailtype review:</strong>
  <%= @resolvedreviewdispute.trailtype_review %>
</p>

<p>
  <strong>Length review:</strong>
  <%= @resolvedreviewdispute.length_review %>
</p>

<p>
  <strong>Gps review:</strong>
  <%= @resolvedreviewdispute.gps_review %>
</p>

<p>
  <strong>Traildirections review:</strong>
  <%= @resolvedreviewdispute.traildirections_review %>
</p>

<p>
  <strong>Finalcomments:</strong>
  <%= @resolvedreviewdispute.finalcomments %>
</p>

<p>
  <strong>Review user:</strong>
  <%= @resolvedreviewdispute.review_user_id %>
</p>

<p>
  <strong>Dispute comment:</strong>
  <%= @resolvedreviewdispute.dispute_comment %>
</p>

<p>
  <strong>Dispute action:</strong>
  <%= @resolvedreviewdispute.dispute_action %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @resolvedreviewdispute.comment %>
</p>

<%= link_to 'Edit', edit_resolvedreviewdispute_path(@resolvedreviewdispute) %> |
<%= link_to 'Back', resolvedreviewdisputes_path %>
