<h1>Listing images</h1>
<div class="row">
  <div class="col-md-1">
    <strong>Trail</strong>
  </div>
  <div class="col-md-3">
    <strong>Photo</strong>
  </div>
  <div class="col-md-1">
    <strong>Accepted</strong>
  </div>
</div>
<% @images.each do |image| %>
  <% unless @id==image.trail_id%>
    <% @id=image.trail_id%>
    <br>
    <hr>
    <br>
  <%end%>
  <div class="row">
    <div class="col-md-1">
      <%= link_to image.trail do %>
        <%= image.trail.name %>
      <%end%>
    </div>
    <div class="col-md-3">
      <%= link_to image do %>
        <%= image.url.original_filename %>
      <%end%>
    </div>
    <div class="col-md-1">
        <%= image.accepted %>
    </div>
    <div class="col-md-1">
        <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<%end%>
