<footer class="site-footer">
  <div class="container">
    <p class="copyright">&copy; 2015</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Who Are We", about_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "FAQ" %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Our Sponsors", sponsors_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Advertize With Us", howsponsor_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <% if user_signed_in? && !current_user.videomaker? %>
      <%= link_to "Become a Videographer", new_videomaker_submission_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%end%>
    </p>
    <p class="contact">Looking to get ahold of us? &nbsp;&nbsp;&nbsp;&nbsp;
    <%=link_to "CONTACT", new_contact_path, class: "ContactButtton" %>
    </p>
  </div>  
</footer>
