<footer class="site-footer">
  <div class="container">
    <p class="copyright">&copy; 2015</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "About Us", about_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "FAQ" %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Sponsors", sponsors_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Advertize with Us", howsponsor_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Donate" %>&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="contact">Looking to get ahold of us? &nbsp;&nbsp;&nbsp;&nbsp;
    <%=link_to "CONTACT", new_contact_path, class: "ContactButtton" %>
    </p>
  </div>  
</footer>
